In [1]:
from pipeline_live.engine import LivePipelineEngine
from pipeline_live.data.sources.iex import list_symbols
from pipeline_live.data.alpaca.pricing import USEquityPricing
from pipeline_live.data.polygon.fundamentals import PolygonCompany
from pipeline_live.data.iex.factors import AverageDollarVolume
from zipline.pipeline import Pipeline

In [49]:
import pandas as pd

In [59]:
import pipeline_live.engine

In [48]:
help(pipeline_live.engine.LivePipelineEngine.compute_chunk)

Help on module pipeline_live.engine in pipeline_live:

NAME
    pipeline_live.engine

CLASSES
    builtins.object
        LivePipelineEngine

    class LivePipelineEngine(builtins.object)
     |  Methods defined here:
     |
     |  __init__(self, list_symbols, calendar=None, populate_initial_workspace=None)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  compute_chunk(self, graph, dates, symbols, initial_workspace)
     |      Compute the Pipeline terms in the graph for the requested start and end
     |      dates.
     |
     |      Parameters
     |      ----------
     |      graph : zipline.pipeline.graph.TermGraph
     |      dates : pd.DatetimeIndex
     |          Row labels for our root mask.
     |      symbols : list
     |          Column labels for our root mask.
     |      initial_workspace : dict
     |          Map from term -> output.
     |          Must contain at least entry for `self._root_mask_term` whose shape
     |          is `(len(dates), len(symbols))`, but may contain additional
     |          pre-computed terms for testing or optimization purposes.
     |
     |      Returns
     |      -------
     |      results : dict
     |          Dictionary mapping requested results to outputs.
     |
     |  run_pipeline(self, pipeline)
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)

FUNCTIONS
    array(...)
        array(object, dtype=None, *, copy=True, order='K', subok=False, ndmin=0)

        Create an array.

        Parameters
        ----------
        object : array_like
            An array, any object exposing the array interface, an object whose
            __array__ method returns an array, or any (nested) sequence.
        dtype : data-type, optional
            The desired data-type for the array.  If not given, then the type will
            be determined as the minimum type required to hold the objects in the
            sequence.
        copy : bool, optional
            If true (default), then the object is copied.  Otherwise, a copy will
            only be made if __array__ returns a copy, if obj is a nested sequence,
            or if a copy is needed to satisfy any of the other requirements
            (`dtype`, `order`, etc.).
        order : {'K', 'A', 'C', 'F'}, optional
            Specify the memory layout of the array. If object is not an array, the
            newly created array will be in C order (row major) unless 'F' is
            specified, in which case it will be in Fortran order (column major).
            If object is an array the following holds.

            ===== ========= ===================================================
            order  no copy                     copy=True
            ===== ========= ===================================================
            'K'   unchanged F & C order preserved, otherwise most similar order
            'A'   unchanged F order if input is F and not C, otherwise C order
            'C'   C order   C order
            'F'   F order   F order
            ===== ========= ===================================================

            When ``copy=False`` and a copy is made for other reasons, the result is
            the same as if ``copy=True``, with some exceptions for `A`, see the
            Notes section. The default order is 'K'.
        subok : bool, optional
            If True, then sub-classes will be passed-through, otherwise
            the returned array will be forced to be a base-class array (default).
        ndmin : int, optional
            Specifies the minimum number of dimensions that the resulting
            array should have.  Ones will be pre-pended to the shape as
            needed to meet this requirement.

        Returns
        -------
        out : ndarray
            An array object satisfying the specified requirements.

        See Also
        --------
        empty_like : Return an empty array with shape and type of input.
        ones_like : Return an array of ones with shape and type of input.
        zeros_like : Return an array of zeros with shape and type of input.
        full_like : Return a new array with shape of input filled with value.
        empty : Return a new uninitialized array.
        ones : Return a new array setting values to one.
        zeros : Return a new array setting values to zero.
        full : Return a new array of given shape filled with value.


        Notes
        -----
        When order is 'A' and `object` is an array in neither 'C' nor 'F' order,
        and a copy is forced by a change in dtype, then the order of the result is
        not necessarily 'C' as expected. This is likely a bug.

        Examples
        --------
        >>> np.array([1, 2, 3])
        array([1, 2, 3])

        Upcasting:

        >>> np.array([1, 2, 3.0])
        array([ 1.,  2.,  3.])

        More than one dimension:

        >>> np.array([[1, 2], [3, 4]])
        array([[1, 2],
               [3, 4]])

        Minimum dimensions 2:

        >>> np.array([1, 2, 3], ndmin=2)
        array([[1, 2, 3]])

        Type provided:

        >>> np.array([1, 2, 3], dtype=complex)
        array([ 1.+0.j,  2.+0.j,  3.+0.j])

        Data-type consisting of more than one element:

        >>> x = np.array([(1,2),(3,4)],dtype=[('a','<i4'),('b','<i4')])
        >>> x['a']
        array([1, 3])

        Creating an array from sub-classes:

        >>> np.array(np.mat('1 2; 3 4'))
        array([[1, 2],
               [3, 4]])

        >>> np.array(np.mat('1 2; 3 4'), subok=True)
        matrix([[1, 2],
                [3, 4]])

FILE
    /home/usman/.virtualenvs/YOLO/lib/python3.6/site-packages/pipeline_live/engine.py

In [2]:
import os

In [3]:
print(os.environ["APCA_API_KEY_ID"])
print(os.environ["APCA_API_SECRET_KEY"])
print(os.environ["APCA_API_BASE_URL"])

PKTCNS2NVWO8FQA6QFB2
0e0IVetCSNw0IltXrerLVbhktvBkLQERA1BlZh2a
https://paper-api.alpaca.markets

In [5]:
l = list_symbols()

len(l)

8976

In [54]:
dates = pd.DatetimeIndex(['2020-09-01', 
                         '2020-09-02', '2020-09-03'])

dates

DatetimeIndex(['2020-09-01', '2020-09-02', '2020-09-03'], dtype='datetime64[ns]', freq=None)

In [62]:
eng.compute_chunk()

TypeError: compute_chunk() missing 4 required positional arguments: 'graph', 'dates', 'symbols', and 'initial_workspace'

In [56]:
eng = LivePipelineEngine(list_symbols, dates)
# top5 = AverageDollarVolume(window_length=20).top(5)
pipe = Pipeline({
    'close': USEquityPricing.close.latest,
    'volume': USEquityPricing.volume.latest,
})

result = eng.run_pipeline(pipe)

# df = eng.run_pipeline(pipe)

In [58]:
result

            close       volume
A      103.380000    2369888.0
AA      14.660000   11227660.0
AAAU    19.370000    1519814.0
AACG     1.130000      18730.0
AACQU   10.115000      43591.0
AADR    56.880000       8568.0
AAL     13.225000   56797603.0
AAMC    21.956400      20114.0
AAME     2.028800       2316.0
AAN     57.350000     869038.0
AAOI    12.640000    1099799.0
AAON    57.830000     141562.0
AAP    158.220000    1046236.0
AAPL   131.220000  184800962.0
AAT     25.760000     325620.0
AAU      0.685600     601966.0
AAWW    57.000000     270666.0
AAXJ    79.020000    2427928.0
AAXN    88.140000     369432.0
AB      28.890000     440076.0
ABB     25.850000    2943040.0
ABBV    93.940000   16449251.0
ABC     98.290000    2625724.0
ABCB    24.650000     253543.0
ABEO     2.155000    1921270.0
ABEQ    23.900000      15948.0
ABEV     2.380000   33191782.0
ABG    109.585000     226520.0
ABIO     5.080000     253017.0
ABM     38.670000     208350.0
...           ...          ...
ZIG     22.240000      22018.0
ZION    32.390000    1368852.0
ZIONL   27.580000       4417.0
ZIONN   25.820000       2317.0
ZIONO   27.250000       2320.0
ZIONP   23.940000       6938.0
ZIOP     2.640000    1440432.0
ZIXI     6.200000     914867.0
ZJPN    76.383900        400.0
ZKIN     1.100000      14434.0
ZLAB    81.890000     209731.0
ZM     423.513000   18146552.0
ZMLP    56.640000      10538.0
ZNGA     9.040000   14566961.0
ZNH     26.930000      28098.0
ZNTL    30.620000     100747.0
ZOM      0.118899   85046204.0
ZROZ   175.380000     134986.0
ZS     158.530000    3252403.0
ZSAN     1.450000    4854076.0
ZSL      7.380000    4613676.0
ZTO     34.570000    6018594.0
ZTR      8.070000     272524.0
ZTS    165.250000    3020844.0
ZUMZ    27.810000     489085.0
ZUO     16.160000   15622624.0
ZVO      4.640000     742307.0
ZYME    32.010000     400442.0
ZYNE     3.700000     308545.0
ZYXI    14.570000     471765.0

[8976 rows x 2 columns]

In [ ]:
import alpaca_trade_api as tradeapi

api = tradeapi.REST()

# Get a list of all active assets.
active_assets = api.list_assets(status='active')

# Filter the assets down to just those on NASDAQ.
nasdaq_assets = [a for a in active_assets if a.exchange == 'NASDAQ']
print(nasdaq_assets)

In [ ]:
import alpaca_trade_api as tradeapi

api = tradeapi.REST()

# Check if AAPL is tradable on the Alpaca platform.
aapl_asset = api.get_asset('RHT')
if aapl_asset.tradable:
    print('We can trade INTC.')

In [ ]:
import pandas as pd
import numpy as np

from .datamock import mock_tradeapi

from pipeline_live.data.alpaca.pricing import USEquityPricing

def test_pricing_loader(refdata, alpaca_tradeapi, data_path):
    mock_tradeapi.list_assets(alpaca_tradeapi)
    mock_tradeapi.get_barset(alpaca_tradeapi)

    loader = USEquityPricing.get_loader()
    columns = [USEquityPricing.close]
    dates = [pd.Timestamp('2018-08-22', tz='UTC')]
    symbols = ['AA']
    mask = np.zeros((1, 1), dtype='bool')
    out = loader.load_adjusted_array(columns, dates, symbols, mask)

    assert out[USEquityPricing.close]._data.shape == (1, 1)